@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
header {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  height: 90px;
}
.head {
  width: 100%;
  height: 100%;
}
.inner {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
}
.logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.logo > a {
  margin-right: 20px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu > ul {
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.menu > ul > li a:hover {
  color: #d43e42;
}
.menuwrap {
  width: 100%;
  padding: 30px 0 30px;
  display: flex;
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 999;
  display: none;
}
.menuwrap.on {
  display: block;
}
.submenu {
  width: 100%;
}
.btmenu {
  width: 100%;
}
.btmenu ul li {
  display: flex;
  align-items: center;
  margin: 5px 0 5px;
}
.btmenu:first-child {
  margin-bottom: 50px;
}
.nice {
  font-size: 14px;
  line-height: 1;
  color: #ccc;
}
.bmenu {
  margin-bottom: 50px;
}
.bmenu .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
}
#arrow .swiper-button-prev::after,
#arrow .swiper-button-next::after {
  font-size: 16px;
  color: #000;
}
#sub {
  width: 50%;
  position: relative;
}
.main {
  width: 100%;
  height: 100%;
}
.inner1 {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}
.videotxt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.inner1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.conwrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1380px;
  margin-bottom: 10vh;
}
.con {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.con .imgbox1 {
  flex: 1 0 40%;
  transition: all 0.5;
}
.imgbox1 {
  overflow: hidden;
  transform: scale(1) translateZ(0);
}
.con .imgbox1 span {
  cursor: pointer;
  text-align: center;
  display: block;
}
.con .imgbox1 span:nth-child(3) {
  color: #767676;
}
.con .imgbox1 span:hover {
  color: #d43e42;
}
.con .imgbox1 a img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.imgwrap {
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 150px;
}
.imgwrap .imgbox2 {
  background-image: url(https://static.vitra.com/media-resized/vp3mrjN96bOE6U-kgYIGSSK5LFAi6UeFpsXcxePNnf0/fill/1920/0/ce/0/aHR0cHM6Ly9zdGF0aWMudml0cmEuY29tL21lZGlhL2Fzc2V0LzgyMzMyNjcvc3RvcmFnZS92X3BhcmFsbGF4XzE5MjB4MTA4MC83Nzk2MTI5OC5qcGc.jpg);
  width: 100%;
  height: 400px;
  background-position: right 30%;
  background-size: cover;
}
.innerbox {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}
.innerbox > a > h2 {
  margin-bottom: 30px;
}
.innerbox > a > span {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px 0;
}
.innerbox > a > span:hover {
  background: #000;
  color: #fff;
}
.slid {
  width: 100%;
  max-width: 1380px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 150px;
}

.slid h1 {
  text-align: center;
  margin-bottom: 50px;
}

.imgbox3 {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  margin-bottom: 150px;
}
.imgbox3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgbox3 > div a span {
  display: block;
  text-align: center;
}
.imgbox3 > div a span:nth-child(2) {
  color: #767676;
}
.imgbox3 > div a:hover span {
  color: #d43e42;
}
footer {
  width: 100%;
  height: 100%;
}
.wrap-foot {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}
.top-foot {
  width: 100%;
  height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 80px;
}
.icon {
  display: flex;
  align-items: center;
}
.icon > a {
  display: block;
  margin-right: 8px;
}
.icon > a > span:hover {
  color: #d43e42;
}
.footwrap {
  width: 100%;
  background: #e6e6e6;
}
.tali-foot {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.foot-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 60px;
  margin-bottom: 50px;
}
.subfoot {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.subfoot h4 {
  border-bottom: 1px solid #000;
  padding: 10px 10px;
  margin-top: 10px;
}
.subfoot a {
  border-bottom: 1px solid #ccc;
  padding: 10px 10px;
}
.subfoot a:hover {
  color: #d43e42;
}
.snsimgbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.snsimgbox > a {
  padding: 0 20px;
  margin-bottom: 20px;
  display: block;
}
.snsimgbox > a:hover {
  color: #d43e42;
  fill: #d43e42;
}
.copy {
  text-align: center;
}
.copy a {
  display: block;
  padding: 30px 0;
}
.copy a:hover {
  color: #d43e42;
}
