@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
header {
  position: fixed;
  width: 100%;
  z-index: 30;
}
.head {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.head-wrap {
  display: flex;
}
.logo {
  width: 160px;
  height: 24px;
}
.logo img {
  width: 100%;
  object-fit: cover;
}
.menu ul {
  display: flex;
}
.visual {
  position: relative;
  height: 100vh;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 100%;
}
.txt > div {
  position: absolute;
  width: 100%;
}
.txt > div h1 {
  font-size: 80px;
  width: 100%;
  color: #fff;
  text-align: center;
}
.txt > div h1.active {
  opacity: 0;
  filter: blur(50px);
  transition: 1s;
}
.txt > div h1.on {
  opacity: 1;
  filter: blur(0);
}
.slidePage {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  gap: 20px;
}
.slidePage > div {
  width: 140px;
  /* position: relative; */
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}
.slidePage > div.on {
  color: rgba(255, 255, 255, 1);
}
.slidePage .title {
  display: block;
  width: 100%;
  text-align: center;
}
.slidePage .btn {
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.slidePage .btn .btn_bar {
  display: block;
  width: 0;
  height: 100%;
  background: #fff;
}
.slidePage > div.on .btn .btn_bar {
  animation: slide 3s forwards linear;
}
@keyframes slide {
  to {
    width: 100%;
  }
}
