@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  font-family: Arial, 돋움, Dotum, sans-serif;
}
.wrap {
  width: 100%;
}
.logo p {
  text-align: center;
  margin: 20px;
}
.menu .nav {
  display: flex;
  justify-content: center;
  position: relative;
}
.menu .nav li a {
  margin-left: 53px;
}
.com {
  display: flex;
  position: absolute;
  left: 32%;
  top: 25px;
}
.com li {
  position: relative;
}
.st {
  display: flex;
  position: absolute;
}
